/*
Style sheet for PokePond.
by Joshua Ling
*/

/*
Defaults for all
*/
body {
  font-family: Arial;
  color: white;
  background-color: #2196F3;

}

table.team {
  background-color: #E3F2FD;
  border: none;
  border-radius: 5px;
}

table.team tr td{
  color: rgba(0,0,0,.87);
  background-color: #E3F2FD;
}

table.team tr td.title {
  background-color: #1E88E5;
}
